<div id='react-app' class='loader'>
    {{{app}}}
</div>
<div class="preload-frame">
    <div class="preload-overlay"></div>
    <div class="preload-grid">
        <div class="preload-cube preload-cube1"></div>
        <div class="preload-cube preload-cube2"></div>
        <div class="preload-cube preload-cube3"></div>
        <div class="preload-cube preload-cube4"></div>
        <div class="preload-cube preload-cube5"></div>
        <div class="preload-cube preload-cube6"></div>
        <div class="preload-cube preload-cube7"></div>
        <div class="preload-cube preload-cube8"></div>
        <div class="preload-cube preload-cube9"></div>
    </div>
</div>